div.polaroid {
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}


div.polaroid img {
    width: 100%;
}

  
div.container {
    text-align: center;
    padding: 10px 20px;
}


.photos {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
